{
  "presets": ["next/babel"],
  "env": {
    "development": {
      "plugins": [
        "@react-dev-inspector/babel-plugin"
      ],
      "presets": [
        [
          "next/babel",
          {
            "preset-react": {
              "development": true
            }
          }
        ]
      ]
    }
  }
}
